apiVersion: apps/v1
kind: Deployment
metadata:
  name: soloist-notification
spec:
  replicas: ${REPLICAS}
  selector:
    matchLabels:
      app: soloist-notification
  template:
    metadata:
      labels:
        app: soloist-notification
      annotations:
        commit.sha: "${GIT_COMMIT_SHA}"
        prometheus.io/scrape: "true"
        prometheus.io/port: "8080"
        prometheus.io/path: "/actuator/prometheus"
    spec:
      containers:
        - name: app
          image: $DEPLOY_IMAGE
          ports:
            - containerPort: 8080
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5