spring:
  application:
    name: solo-leveling-notification
  kafka:
    bootstrap-servers: localhost:29092
    properties:
      schema.registry.url: http://localhost:8081
    avro:
      group-id: notification-group
  data:
    redis:
      host: localhost
      port: 6379
      lettuce:
        pool:
          max-active: 8
  threads:
    virtual:
      enabled: true
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  metrics:
    tags:
      application: ${spring.application.name}
server:
  port: 10004
logging:
  level:
    org.apache.kafka.clients.consumer.ConsumerConfig: WARN
    org.apache.kafka.clients.producer.ProducerConfig: WARN
    io.confluent.kafka.serializers.KafkaAvroDeserializerConfig: WARN
    io.confluent.kafka.serializers.KafkaAvroSerializerConfig: WARN